<div class="page-title-info center">
  {% if settings.page-secondary-img != blank %}
    <div class="store-logo-img"> 
      <img src="{{ settings.page-secondary-img | img_url : "master" }}">
    </div>
    {% endif %}
  <h1 class=" title center">
    {{ page.title }}
  </h1>
  <div class="store_email_part">
    <div class="contact_info">
      <p>{{ section.settings.sub_info }} </p>
    </div>
    <div class="store_email_part"> 
    <div class="contact_info">
      <p class="text-center"><a href="mailto:cs@pinkstork.com">cs@pinkstork.com</a></p>
    </div>
  </div>
  </div>
</div>
<div class="wholesale-form-part">
  <div class="join-pink-perks-form">
{% comment %}
    {% form 'contact' %}
    {% if form.posted_successfully? %}
    <p class="quote">{{ 'contact.form.post_success' | t }}</p>
    {% endif %}

    {% if form.errors %}
    <p class="quote">{{ 'general.forms.post_error' | t }}</p>

    {% assign message = 'contact.form.message' | t %}
    <ul class="center">
      {% for field in form.errors %}
      {% if field == 'form' %}
      <li>
        {{ form.errors.messages[field] }}
      </li>
      {% else %}
      <li>
        {% assign field_name = field | replace: 'body', message %}
        {{ 'general.forms.post_field_error_html' | t: field: field_name, error: form.errors.messages[field] }}
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}

    <br class="clear" />
    <div class="perks-form-data">
      <div class="name-wholesale first-row-form">
        {% assign name_attr = 'contact.form.name' | handle %}
        <label for="contactFormName">YOUR NAME*</label>
        <input type="text" id="contactFormName" name="contact[{{ name_attr }}]" placeholder="Enter your name" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}" required="required">
      </div>
      <div class="last-name-form first-row-form">
        <label for="ContactFormBLastName">LAST NAME*</label>
        <input type="text" id="ContactFormBLastName" name="contact[LAST NAME]" placeholder="Enter your last name" required="required">
      </div>

      <div class="join-birthday-coustomer first-row-form">
        <label for="ContactFormBirthday">Birthday*</label>
        <input type="text" id="ContactFormBirthday" name="contact[Birthday]" placeholder="Enter Your Birthday" required="required">
      </div>
      <div class="email-wholesale first-row-form">
        <label for="contactFormEmail">YOUR EMAIL*</label>
        <input type="email" id="contactFormEmail" name="contact[email]" placeholder="Enter Your email address" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" required="required">
      </div>
    </div>
    <div class="ordering-experience-form">
      <div class="label-title">
        <label for="ContactFormStage">WHAT STAGE OF LIFE ARE YOU IN?*</label>
      </div>
      <div class="ordering-experience-yes all-data-file">
        <input type="checkbox" id="ContactFormPms" name="contact[WHAT STAGE OF LIFE ARE YOU IN?]" value="PMS" /> PMS
      </div>
      <div class="ordering-experience-no all-data-file">
        <input type="checkbox" id="ContactFormTtc" name="contact[WHAT STAGE OF LIFE ARE YOU IN?]" value="TTC" /> TTC
      </div>
      <div class="ordering-experience-other all-data-file">
        <input type="checkbox" id="ContactFormPregnant" name="contact[WHAT STAGE OF LIFE ARE YOU IN?]" value="PREGNANT" /> PREGNANT
      </div>
      <div class="ordering-experience-yes all-data-file">
        <input type="checkbox" id="ContactFormNursing" name="contact[WHAT STAGE OF LIFE ARE YOU IN?]" value="NURSING" /> NURSING
      </div>
      <div class="ordering-experience-no all-data-file">
        <input type="checkbox" id="ContactFormMenopause" name="contact[WHAT STAGE OF LIFE ARE YOU IN?]" value="MENOPAUSE" /> MENOPAUSE
      </div>
      <div class="ordering-experience-other all-data-file">
        <input type="checkbox" id="ContactFormOther" name="contact[WHAT STAGE OF LIFE ARE YOU IN?]" value="Other" /> OTHER
      </div>
    </div>
    <div class="shipping-address-part">
      <label for="ContactFormmessage">IF OTHER, PLEASE ENTER HERE</label>
      <input type="text" id="ContactFormmessage" name="contact[IF OTHER, PLEASE ENTER HERE]" placeholder="Enter your message">
    </div>
    <div class="shipping-address-part">
      <div class="add-field-form">
        <label for="contactFormTellBusiness">SHIPPING ADDRESS*</label>
        <textarea rows="5" id="contactFormShipping" name="contact[SHIPPING ADDRESS*]" placeholder="Enter Your Shipping address" required="required"></textarea>
      </div>
    </div>
<div class="add-more-details">
      <label for="ContactFormStorkProduct">FAVORITE PINK STORK PRODUCT</label>
      <input type="text" id="ContactFormStorkProduct" name="contact[FAVORITE PINK STORK PRODUCT]" placeholder="Enter Your favorite pink stork product">
    </div>
    {% if section.settings.text %}
    {{ section.settings.text }}
    {% endif %}
    <div class="action_bottom sign-up-btn">
      <div class="submint-contact-form">
        <input type="submit" class="btn submit action_button" value="SUBMIT REQUEST" />
      </div>
    </div>
      {% endform %}
    {% endcomment %}
  
    <div style="margin:0 auto;" class="ccFormGenerator" id="mYeZcOw2on2TKRYFpRoKD9rnc"></div>

    </div>
  </div>
{% schema %}
  {
    "name": "Join Pink Perks",
    "settings": [
	{
  "type": "text",
  "id": "sub_info",
  "label": "Info"
  }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
